# Server
PORT=3001

# Database
DB_HOST=localhost
DB_USER=clinicareforma_admin
DB_PASSWORD=your_db_password_here
DB_NAME=clinicareforma_contacts
DB_PORT=3306

# Email (Nodemailer)
EMAIL_HOST=host11.registrar-servers.com
EMAIL_PORT=465
EMAIL_USER=pacientes@dentistareforma.com
EMAIL_PASS=your_email_password_here
