---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="Reforma Dental"
  description="Reforma Dental es una clínica dental en la que nos preocupamos por tu salud dental."
>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, possimus!
  </div>
</Layout>
