<section id="Booking" class="booking-section bg-white py-8 lg:py-24">
  <div class="container mx-auto text-center">
    <h1 class="mb-4 text-4xl font-bold text-black lg:text-5xl">
      RESÉRVANOS AHORA
    </h1>
    <p class="text-[#9DC216] text-2xl lg:text-3xl py-4">
      Selecciona una fecha y hora para guardar tu día de atención dental
    </p>

    <div class="grid grid-cols-1 gap-4 py-4 lg:grid-cols-2 lg:py-8">
      <!-- Columna izquierda (imagen) -->
      <div class="flex flex-col lg:mb-0">
        <img
          src="images/font.png"
          alt="Ilustración dental"
          class="h-auto mx-auto mb-8"
        />
      </div>

      <!-- Columna derecha (formulario) -->
      <div>
        <div class="flex flex-col px-4 bg-[#f9fdf3] rounded-lg shadow-md">
          <h1 class="font-medium px-6 py-4 text-2xl text-black lg:text-start">
            CREAR CITA DENTAL
          </h1>

          <!-- Información de ubicación -->
          <div
            class="flex items-center justify-start lg:justify-start mb-4 ml-4 mr-4"
          >
            <img src="images/ubi.svg" class="w-12 h-12" alt="Icono ubicación" />
            <h3 class="text-start ml-2">
              8169-206 Ignacio Zaragoza, Zona Centro, Tijuana, Baja California,
              México.
            </h3>
          </div>

          <div
            class="flex items-center justify-center lg:justify-start mb-4 ml-4 mr-4"
          >
            <img
              src="images/comilla.svg"
              class="w-12 h-12"
              alt="Icono comillas"
            />
            <h3 class="font-bold ml-2">Elige tu cita aquí</h3>
            <img
              src="images/comilla.svg"
              class="w-12 h-12 transform rotate-180"
              alt="Icono comillas"
            />
          </div>

          <!-- Zona horaria -->
          <div class="mb-4">
            <h3
              class="flex justify-center lg:justify-start px-8 text-[#74af50]"
            >
              Zona horaria del evento: America/Tijuana GMT-07:00
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
