---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="Contact" class="contact-section bg-[#F5FFE5] py-12 lg:py-24">
  <div class="container mx-auto text-center">
    <h1 class="text-4xl font-bold text-black mb-8">{t("contact.title")}</h1>
    <h2 class="text-3xl text-black mb-8">
      {t("contact.subtitle")}
    </h2>

    <div class="flex justify-center mb-8">
      <button
        id="showMapButton"
        class="location-button flex items-center gap-2 px-6 py-3 border border-black rounded-lg font-bold uppercase text-sm hover:opacity-75 transition-all"
        data-show-text={t("contact.locationButton")}
        data-hide-text={t("contact.hidemap")}
      >
        <svg
          class="location-icon w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 384 512"
        >
          <path
            fill="#e63d3d"
            d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
          ></path>
        </svg>
        <span>{t("contact.locationButton")}</span>
      </button>
    </div>

    <div
      id="mapContainer"
      class="map-container w-full overflow-hidden flex justify-center items-center transition-all duration-300 ease-in-out h-0"
    >
      <div class="relative pb-[56.25%] h-0 w-full mt-4">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3363.9842728303524!2d-117.03669799999999!3d32.526567!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80d9499b13b355e9%3A0x33f0692b196212e5!2sReforma%20Dental!5e0!3m2!1ses!2smx!4v1742923868951!5m2!1ses!2smx"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="absolute top-0 left-0 w-full h-full"></iframe>
      </div>
    </div>
  </div>

  <script>
    document
      .getElementById("showMapButton")
      ?.addEventListener("click", function () {
        const mapContainer = document.getElementById("mapContainer");
        const buttonText = this.querySelector("span");

        if (mapContainer && buttonText) {
          if (mapContainer.classList.contains("h-0")) {
            mapContainer.classList.remove("h-0");
            mapContainer.classList.add("h-[500px]");
            buttonText.textContent = this.dataset.hideText ?? "";
          } else {
            mapContainer.classList.add("h-0");
            mapContainer.classList.remove("h-[500px]");
            buttonText.textContent = this.dataset.showText ?? "";
          }
        }
      });
  </script>
</section>
