<section id="Home" class="bg-gray-100">
  <div class="container mx-auto text-center">
    <img
      src="images/animacion2.gif"
      alt="Video Hero"
      class="w-2/3 h-auto mx-auto"
    />

    <h1 class="mb-4 text-4xl font-bold text-gray-500">
      Consultorio dental familiar
    </h1>
    <h2 class="mb-5 text-3xl text-gray-500">
      Bienvenidos, hemos abierto calendario en el centro de Tijuana
    </h2>

    <a href="https://reformadental.com/#Booking">
      <button
        class="bg-[#87D717] hover:bg-[#95F50E] text-1xl mb-12 text-white font-bold py-3 px-20 mt-5 rounded-full"
      >
        RESÉRVANOS AHORA
      </button>
    </a>
  </div>
</section>
