<div class="react-parallax" style="position: relative; overflow: hidden;">
  <div
    class="w-[100%] h-[100px] bg-[url('images/silla.jpg')] bg-cover bg-center bg-no-repeat bg-fixed"
  >
  </div>

  <section id="Mission" class="py-24 bg-gray-100">
    <div class="container mx-auto text-center">
      <div class="css-0" style="animation-delay: 700ms; opacity: 0;">
        <p class="mb-10 text-4xl font-bold text-black">
          ¿Dolor dental? Podemos ayudarte
        </p>
      </div>

      <div class="css-0" style="animation-delay: 700ms; opacity: 0;">
        <p class="text-[#9DC216] text-3xl font-bold mb-4 mr-4 ml-4">
          ¡NUNCA ES DEMASIADO TARDE PARA COMENZAR A CUIDAR TU SALUD ORAL!
        </p>
      </div>

      <div class="css-0" style="animation-delay: 700ms; opacity: 0;">
        <p class="text-[#9DC216] text-3xl mb-4">
          En Reforma Dental brindamos atención experta para todas las
          necesidades dentales. Hacemos que el cuidado dental sea fácil y sin
          estrés.
        </p>
      </div>

      <div class="css-0" style="animation-delay: 700ms; opacity: 0;">
        <div class="grid grid-cols-1 gap-4 py-8 sm:grid-cols-2">
          <div class="flex flex-row items-start">
            <img
              src="images/Imagen profesionalismo.svg"
              class="w-24 h-24 mr-4 sm:h-32 sm:w-32"
              alt="Profesionalismo dental"
            />
            <div class="flex flex-col">
              <h1
                class="px-4 text-xl font-bold text-left text-black sm:text-2xl"
              >
                PROFESIONALISMO
              </h1>
              <h2 class="px-4 text-justify">
                Experimenta la diferencia con nuestro equipo de profesionales
                dentales. Vamos más allá por tu sonrisa utilizando la última
                tecnología para una mejor experiencia dental.
              </h2>
            </div>
          </div>

          <div class="flex flex-row items-start">
            <img
              src="images/smile.svg"
              class="w-24 h-24 mr-4 sm:h-32 sm:w-32"
              alt="Sonrisa y estética dental"
            />
            <div class="flex flex-col">
              <h1
                class="px-4 text-xl font-bold text-left text-black sm:text-2xl"
              >
                SONRISA Y ESTÉTICA
              </h1>
              <h2 class="px-4 text-justify">
                Confía en nosotros para restaurar la función y belleza de tu
                boca. Contáctanos para una atención experta en todas las
                necesidades dentales y transforma tu sonrisa, transforma tu
                vida.
              </h2>
            </div>
          </div>
        </div>
      </div>

      <!-- Segunda fila del grid -->
      <div class="css-0" style="animation-delay: 0ms; opacity: 0;">
        <div class="grid grid-cols-1 gap-4 py-4 sm:grid-cols-2">
          <!-- Tecnología -->
          <div class="flex flex-row items-start">
            <img
              src="images/Technology.svg"
              class="w-24 h-24 mr-4 sm:h-32 sm:w-32"
              alt="Tecnología dental avanzada"
            />
            <div class="flex flex-col">
              <h1
                class="px-4 text-xl font-bold text-left text-black sm:text-2xl"
              >
                TECNOLOGÍA
              </h1>
              <h2 class="px-4 text-justify">
                Siéntete cómodo y seguro en nuestra clínica dental. Obtén la
                sonrisa que mereces con nuestra amplia gama de servicios en
                nuestras instalaciones de vanguardia.
              </h2>
            </div>
          </div>

          <!-- Experiencia -->
          <div class="flex flex-row items-start">
            <img
              src="images/experience.svg"
              class="w-24 h-24 mr-4 sm:h-32 sm:w-32"
              alt="Experiencia en odontología"
            />
            <div class="flex flex-col">
              <h1
                class="px-4 text-xl font-bold text-left text-black sm:text-2xl"
              >
                EXPERIENCIA
              </h1>
              <h2 class="px-4 text-justify">
                Tu salud oral es nuestra máxima prioridad. Desde limpiezas
                rutinarias hasta procedimientos complejos, te tenemos cubierto.
                Tu salud oral está en buenas manos con nosotros.
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
