<!-- Sección Solutions -->
<section id="Solutions" class="bg-[#F5FFE5] py-24">
  <!-- Imagen del horario -->
  <div class="container flex justify-center mx-auto">
    <img src="images/horario.webp" alt="Horario de atención" />
  </div>

  <!-- Contenido principal -->
  <div class="container py-8 mx-auto text-center md:py-16">
    <div class="css-0" style="animation-delay: 0ms; opacity: 0;">
      <h3
        class="px-4 mb-4 text-lg text-center text-gray-500 md:px-24 md:text-2xl"
      >
        En nuestro consultorio dental, entendemos que su salud bucal es una
        parte importante de su bienestar general. Ya sea que necesite alivio del
        dolor dental en el nervio, quiera mejorar la estética de su sonrisa,
        necesite restaurar la funcionalidad de su boca o esté considerando
        implantes dentales, tenemos la experiencia para ayudar y el
        profesionalismo para cuidar a su familia como nuestros amigos.
      </h3>
    </div>

    <!-- Botón de reserva -->
    <div class="css-0" style="animation-delay: 700ms; opacity: 0;">
      <a href="https://reformadental.com/#Booking" class="">
        <button
          class="bg-[#87D717] hover:bg-[#95F50E] text-lg md:text-xl text-white font-bold py-2 md:py-3 px-12 md:px-20 mt-4 md:mt-5 rounded-full"
        >
          RESÉRVANOS AHORA
        </button>
      </a>
    </div>

    <!-- Texto adicional -->
    <div class="css-0" style="animation-delay: 0ms; opacity: 0;">
      <h3
        class="py-4 mb-4 text-lg text-center text-gray-500 md:py-8 md:text-2xl"
      >
        Contáctenos hoy y programe una cita para dar el primer paso hacia una
        sonrisa más saludable y confiada.
      </h3>
    </div>

    <!-- Título destacado -->
    <div class="css-0" style="animation-delay: 0ms; opacity: 0;">
      <h1
        class="px-4 py-8 mb-4 text-3xl font-bold text-center text-black md:text-4xl"
      >
        Experimente la diferencia en nuestro consultorio dental en TIJUANA
      </h1>
    </div>

    <!-- Subtítulos en verde -->
    <div class="css-0" style="animation-delay: 0ms; opacity: 0;">
      <h2
        class="text-center py-2 text-[#9DC216] font-bold text-xl md:text-2xl ml-2 mr-2"
      >
        ¿Hacemos que el cuidado dental sea fácil y sin estrés? ¡Por supuesto que
        sí!
      </h2>
    </div>

    <div class="css-0" style="animation-delay: 0ms; opacity: 0;">
      <h3 class="text-center py-2 text-[#9DC216] text-xl md:text-2xl">
        Aceptamos casi todas las compañías de seguros dentales.
      </h3>
    </div>
  </div>
</section>

<div class="react-parallax" style="position: relative; overflow: hidden;">
  <div
    class="w-[100%] h-[100px] bg-[url('images/silla.jpg')] bg-cover bg-center bg-no-repeat bg-fixed"
  >
  </div>
</div>
