---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="Treatments" class="treatments-section bg-[#F5FFE5] py-8 lg:py-24">
  <div class="container mx-auto">
    <h1
      class="px-4 py-4 mb-2 text-4xl font-poppins font-bold text-center text-black lg:py-8"
    >
      {t("treatments.title")}
    </h1>

    <div
      class="grid grid-cols-1 gap-4 py-4 text-xl font-poppins font-bold lg:grid-cols-3 lg:py-8 lg:text-2xl"
    >
      <div class="treatment-card flex flex-col">
        <img
          transition:name="Endodoncia"
          src="/images/endodoncia.webp"
          class="h-auto mx-auto w-52"
          alt={t("treatments.endodoncia")}
        />
        <p class="text-center">{t("treatments.endodoncia")}</p>
        <p class="text-[#9DC216] text-center">
          {t("treatments.price.endodoncia")}
        </p>
      </div>

      <div class="treatment-card flex flex-col mb-7">
        <img
          transition:name="Ortodoncia"
          src="/images/ortodoncia.webp"
          class="h-auto mx-auto w-52"
          alt={t("treatments.ortodoncia")}
        />
        <p class="text-center">{t("treatments.ortodoncia")}</p>
        <p class="text-[#9DC216] text-center">
          {t("treatments.price.ortodoncia")}
        </p>
      </div>

      <div class="treatment-card flex flex-col mb-7">
        <img
          transition:name="Implantes"
          src="/images/implantes.webp"
          class="h-auto mx-auto w-52"
          alt={t("treatments.implantes")}
        />
        <p class="text-center">{t("treatments.implantes")}</p>
        <p class="text-[#9DC216] text-center">
          {t("treatments.price.implantes")}
        </p>
      </div>

      <div class="treatment-card flex flex-col mb-7">
        <img
          transition:name="Extracción"
          src="/images/extracion.webp"
          class="h-auto mx-auto w-52"
          alt={t("treatments.extraccion")}
        />
        <p class="text-center">{t("treatments.extraccion")}</p>
        <p class="text-[#9DC216] text-center">
          {t("treatments.price.extraccion")}
        </p>
      </div>

      <div class="treatment-card flex flex-col mb-7">
        <img
          transition:name="Coronas"
          src="/images/corona.webp"
          class="h-auto mx-auto w-52"
          alt={t("treatments.coronas")}
        />
        <p class="text-center">{t("treatments.coronas")}</p>
        <p class="text-[#9DC216] text-center">
          {t("treatments.price.coronas")}
        </p>
      </div>

      <div class="treatment-card flex flex-col mb-7">
        <img
          transition:name="Resinas"
          src="/images/recina.webp"
          class="h-auto mx-auto w-52"
          alt={t("treatments.resinas")}
        />
        <p class="text-center">{t("treatments.resinas")}</p>
        <p class="text-[#9DC216] text-center">
          {t("treatments.price.resinas")}
        </p>
      </div>

      <div class="treatment-card flex flex-col mb-7">
        <img
          transition:name="Periodoncia"
          src="/images/perio.webp"
          class="h-auto mx-auto w-52"
          alt={t("treatments.periodoncia")}
        />
        <p class="text-center">{t("treatments.periodoncia")}</p>
        <p class="text-[#9DC216] text-center">
          {t("treatments.price.periodoncia")}
        </p>
      </div>

      <div class="treatment-card flex flex-col mb-7">
        <img
          transition:name="Prótesis"
          src="/images/dentadura.webp"
          class="h-auto mx-auto w-52"
          alt={t("treatments.protesis")}
        />
        <p class="text-center">{t("treatments.protesis")}</p>
        <p class="text-[#9DC216] text-center">
          {t("treatments.price.protesis")}
        </p>
      </div>

      <div class="treatment-card flex flex-col mb-7">
        <img
          transition:name="Tratamientos generales"
          src="/images/tratamiento.webp"
          class="h-auto mx-auto w-52"
          alt={t("treatments.generales")}
        />
        <p class="text-center">{t("treatments.generales")}</p>
        <p class="text-[#9DC216] text-center">
          {t("treatments.price.generales")}
        </p>
      </div>
    </div>
  </div>
</section>

<div class="react-parallax" style="position: relative; overflow: hidden;">
  <div
    class="w-[100%] h-[100px] bg-[url('/images/silla.jpg')] bg-cover bg-center bg-no-repeat bg-fixed"
  >
  </div>
</div>
