<section id="Treatments" class="treatments-section bg-[#F5FFE5] py-8 lg:py-24">
  <div class="container mx-auto">
    <h1
      class="px-4 py-4 mb-2 text-4xl font-poppins font-bold text-center text-black lg:py-8"
    >
      Desde chequeos simples hasta procedimientos complejos, ¡lo hacemos todo!
    </h1>

    <div
      class="grid grid-cols-1 gap-4 py-4 text-xl font-poppins font-bold lg:grid-cols-3 lg:py-8 lg:text-2xl"
    >
      <!-- Tratamiento 1 -->
      <div class="treatment-card flex flex-col">
        <img
          transition:name="Endodoncia"
          src="images/endodoncia.webp"
          class="h-auto mx-auto w-52"
          alt="Endodoncia"
        />
        <p class="text-center">TRATAMIENTO DE CANAL / ENDODONCIA</p>
        <p class="text-[#9DC216] text-center">$300.00</p>
      </div>

      <!-- Tratamiento 2 -->
      <div class="treatment-card flex flex-col mb-7">
        <img
          src="images/ortodoncia.webp"
          class="h-auto mx-auto w-52"
          alt="Ortodoncia"
        />
        <p class="text-center">BRACKETS / ORTODONCIA</p>
        <p class="text-[#9DC216] text-center">$650.00</p>
      </div>

      <!-- Tratamiento 3 -->
      <div class="treatment-card flex flex-col mb-7">
        <img
          src="images/implantes.webp"
          class="h-auto mx-auto w-52"
          alt="Implantes"
        />
        <p class="text-center">IMPLANTES</p>
        <p class="text-[#9DC216] text-center">$1650.00</p>
      </div>

      <!-- Tratamiento 4 -->
      <div class="treatment-card flex flex-col mb-7">
        <img
          src="images/extracion.webp"
          class="h-auto mx-auto w-52"
          alt="Extracción"
        />
        <p class="text-center">EXTRACCIÓN</p>
        <p class="text-[#9DC216] text-center">$150.00</p>
      </div>

      <!-- Tratamiento 5 -->
      <div class="treatment-card flex flex-col mb-7">
        <img
          src="images/corona.webp"
          class="h-auto mx-auto w-52"
          alt="Coronas"
        />
        <p class="text-center">CORONAS</p>
        <p class="text-[#9DC216] text-center">$300.00</p>
      </div>

      <!-- Tratamiento 6 -->
      <div class="treatment-card flex flex-col mb-7">
        <img
          src="images/recina.webp"
          class="h-auto mx-auto w-52"
          alt="Resinas"
        />
        <p class="text-center">RELLENOS</p>
        <p class="text-[#9DC216] text-center">$50.00</p>
      </div>

      <!-- Tratamiento 7 -->
      <div class="treatment-card flex flex-col mb-7">
        <img
          src="images/perio.webp"
          class="h-auto mx-auto w-52"
          alt="Periodoncia"
        />
        <p class="text-center">PERIODONCIA</p>
        <p class="text-[#9DC216] text-center">$400.00</p>
      </div>

      <!-- Tratamiento 8 -->
      <div class="treatment-card flex flex-col mb-7">
        <img
          src="images/dentadura.webp"
          class="h-auto mx-auto w-52"
          alt="Prótesis"
        />
        <p class="text-center">DENTADURAS/PROSTODONCIA</p>
        <p class="text-[#9DC216] text-center">$700.00</p>
      </div>

      <!-- Tratamiento 9 -->
      <div class="treatment-card flex flex-col mb-7">
        <img
          src="images/tratamiento.webp"
          class="h-auto mx-auto w-52"
          alt="Tratamientos generales"
        />
        <p class="text-center">TRATAMIENTOS GENERALES</p>
        <p class="text-[#9DC216] text-center">$50.00</p>
      </div>
    </div>
  </div>
</section>
