---
import Layout from "@layouts/Layout.astro";
---

<Layout
  title="ERROR | Reforma Dental"
  description="ERROR-404"
  keywords="Reforma Dental, Clinica Dental"
>
  <main
    class="flex justify-center items-center md:h-screen flex-col gap-4 bg-gray-100 text-gray-800"
  >
    <div
      class="flex flex-col items-center gap-4 p-6 bg-white shadow-lg rounded-lg"
    >
      <img src="/images/logo.webp" alt="Reforma Dental" class="w-52 h-52" />
      <h1 class="text-3xl font-bold text-gray-900">
        ¡Ups! Página no encontrada
      </h1>
      <p class="text-center text-gray-600">
        Lo sentimos, el enlace que seguiste no parece existir en nuestro sitio
        web.
      </p>

      <a
        href="/es/"
        class="button bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600 transition"
      >
        Volver al inicio
      </a>
    </div>
  </main>
</Layout>
